



 .myComponent {
    background-image: url('../../../Images/SearchBanner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
  } 
  

.searchForm{

     padding-left: 150px;
}

.searchText {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.searchText h1 {
  font-size: 5vw;
}

.searchText h3 {
  font-size: 3vw;
}


